header {
    text-align: left;
}

nav ul {
    justify-content: flex-start !important;
}

section img {
    margin-top: 10px;
    width: 90%;
}

#resume_link {
    margin-top: 50px;
    font-size: 30px;
}

button {
    margin: 1% 45%;
    width: 10%;
}

@media screen and (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        padding: 5px;
    }
    main section {
        border: 1px dashed black;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.github-link {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.github-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    footer {
        position: relative;
    }
}

@media screen and (min-width: 750px) {
    footer {
        position: relative;
    }
}